.home{
  margin: 0;
  padding: 0;
  background-color: rgba(245, 0.2, 0.156, 0.5);
  background-attachment: fixed;
  height: 100%;
  background-size: 100%;
  font-family: exo, sans-serif;
}
.topnav-centered  {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.topnav-right {
  float: right;
}

.hos{
  background-color: #f2f2f2;
  text-align: center;
  width: 868px;
  margin: auto;
  /* margin-left: 300px; */
  margin-top: 29px;
  padding: 1em;
  height: 100%;
}
.hos .pls{
  padding: 100px;
}
.hos .pls img{
  float: right;
  width: 300px;
  height: 250px;
  border-radius: 4px;
}
.hos .pls h6{
  font-style: italic;
}
.hos .homes{
  clear: right;
}
.registration{
  padding-top: 10px;
}
.registration .form-group{
  text-align: center;
  margin: 3px solid red;
  background-color: rgba(150, 190, 249, 0.5);
}
.registration .form-group input{
  margin-top: 30px;
  width: 60%;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 16px 0;
  box-sizing: border-box;
}
.registration .form-group button{
  width: 40%;
  border-radius: 12px;
  background-color: #f44336;
  color: white;
  text-align: center;
}
.navigation{
  position: fixed;
  background-color: #111;
  overflow: hidden;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
 .navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  position: fixed;
  top: 0;
  width: 100%;
}
.navigation ul li{
  float: right;
  border-right: 1px solid #bbb;
}
.navigation ul li:last-child{
  border-right: none;
}
.navigation ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navigation ul li a:hover{
  background-color: #1ab1c1;
}
.footer{
  margin-top: 400px;
}
html{
  height: 100%;
}
